.App {
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.navigation li {
  list-style: none;

  display: inline;
}

.repos {
  font-size: 1.3em;
  line-height: 1.5em;
}
